USE [master]
GO
/****** Object:  Database [ComputersDb]    Script Date: 11/8/2016 6:28:38 PM ******/
CREATE DATABASE [ComputersDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputersDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ComputersDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputersDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ComputersDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputersDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputersDb]
GO
USE [ComputersDb]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComputerType] [int] NOT NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[CpuId] [int] NULL,
	[Memory] [int] NOT NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Computers_GPUs]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers_GPUs](
	[ComputerId] [int] NOT NULL,
	[GPUId] [int] NOT NULL,
 CONSTRAINT [PK_Computers_GPUs] PRIMARY KEY CLUSTERED 
(
	[ComputerId] ASC,
	[GPUId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Computers_StorageDevices]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers_StorageDevices](
	[ComputerId] [int] NOT NULL,
	[StorageDeviceId] [int] NOT NULL,
 CONSTRAINT [PK_Computers_StorageDevices] PRIMARY KEY CLUSTERED 
(
	[ComputerId] ASC,
	[StorageDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CPUs]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[ClockCycles] [int] NOT NULL,
 CONSTRAINT [PK_CPUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GPUs]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Memory] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_GPUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StorageDevices]    Script Date: 11/8/2016 6:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_StorageDevices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_CPUs] FOREIGN KEY([CpuId])
REFERENCES [dbo].[CPUs] ([Id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_CPUs]
GO
ALTER TABLE [dbo].[Computers_GPUs]  WITH CHECK ADD  CONSTRAINT [FK_Computers_GPUs_Computers] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[Computers_GPUs] CHECK CONSTRAINT [FK_Computers_GPUs_Computers]
GO
ALTER TABLE [dbo].[Computers_GPUs]  WITH CHECK ADD  CONSTRAINT [FK_Computers_GPUs_GPUs] FOREIGN KEY([GPUId])
REFERENCES [dbo].[GPUs] ([Id])
GO
ALTER TABLE [dbo].[Computers_GPUs] CHECK CONSTRAINT [FK_Computers_GPUs_GPUs]
GO
ALTER TABLE [dbo].[Computers_StorageDevices]  WITH CHECK ADD  CONSTRAINT [FK_Computers_StorageDevices_Computers] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[Computers_StorageDevices] CHECK CONSTRAINT [FK_Computers_StorageDevices_Computers]
GO
ALTER TABLE [dbo].[Computers_StorageDevices]  WITH CHECK ADD  CONSTRAINT [FK_Computers_StorageDevices_StorageDevices] FOREIGN KEY([StorageDeviceId])
REFERENCES [dbo].[StorageDevices] ([Id])
GO
ALTER TABLE [dbo].[Computers_StorageDevices] CHECK CONSTRAINT [FK_Computers_StorageDevices_StorageDevices]
GO
USE [master]
GO
