<div class="panel panel-primary" data-id="{{this.id}}">
    <div class="panel-heading">
        <h1>Create New</h1>
    </div>
    <div class="panel-body">
        <input id="tb-material-title" class="form-control" type="text" name="" value="" placeholder="title">
        <input id="tb-material-description" class="form-control" type="text" name="" value="" placeholder="description">
        <input id="tb-material-image" class="form-control" type="text" name="" value="" placeholder="image link">        
    </div>
    <div class="panel-footer">
        <button id="btn-material-create" type="button" class="btn btn-success">Create</button>
    </div>
</div>